.explore__tools {
  margin: 40px 0 24px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;

  &_genres {
    width: 86%;
    overflow: hidden;
    position: relative;

    &-slider {
      z-index: 2;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      column-gap: 24px;
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.3s;
    }

    &-hidden {
      opacity: 0;
    }
  }

  &_search {
    width: 28.5%;
  }

  &_selector {
    width: 28.5%;
  }

  &_switch {
    width: 10%;
  }
}