.switch {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #06020D;
    user-select: none;
  }

  &__box {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    padding: 1px;
    border: 2px solid #06020D;

    &_circle {
      width: 10px;
      height: 10px;
      background: #06020D;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      &-disabled {
        left: 5%;
        transition: 0.3s;
      }

      &-active {
        left: 65%;
        transition: 0.3s;
      }
    }
  }
}