.market {
  color: #FFFFFF;
  position: fixed; top: 0; left: 0;
  width: 100%;
  z-index: 1;
  &__main {
    background: url("./imgs/background.png") center/cover no-repeat;
    border-radius: 9px;
    padding: 16px 24px;
  }

}