.selector {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 7px 16px;

  select {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #06020D;
    width: 100%;
  }
}